# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/


# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# SQLite database
*.sqlite3

# logs
*.log

# vector database lock files
vector_db/*.lock
